.section {
  background-color: black;
  font-weight: 300;
}

.intro {
  margin-bottom: 40px;
  text-align: justify;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 50px;
  position: relative;
  justify-items: center;
}

.team-member {
  text-align: center;
  width: 300px;
  height: auto;
  background-color: rgb(24, 23, 23);
  padding: 10px;
}

.member-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.team-member:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.team-member:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.team-member:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}

.team-member:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}

.team-member:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

.team-grid::before,
.team-grid::after {
  content: "";
  position: absolute;
  width: 2px;
}

.team-grid::before {
  top: 50px;
  left: 50%;
  height: 75px;
}

.team-member:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 75px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.team-member:nth-child(2)::before,
.team-member:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 75px;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
}

.team-member:nth-child(4)::before,
.team-member:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 75px;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
}
