.contact-form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 6px;
  backdrop-filter: blur(1px);
  border: 1px solid white;
  font-weight: 300;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
}

.contact-form textarea {
  background-color: white;
  color: black;
  height: 10vh;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.contact-form button:hover {
  background-color: #f0f0f0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-form {
    padding: 15px;
    max-width: 90%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  .contact-form textarea {
    height: 8vh;
  }

  .contact-form button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 10px;
    max-width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.8rem;
    padding: 6px;
  }

  .contact-form textarea {
    height: 6vh;
  }

  .contact-form button {
    font-size: 0.8rem;
    padding: 8px;
  }
}
