.contact-form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 6px;
  backdrop-filter: blur(1px);
  border: 1px solid white;
  font-weight: 300;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
}

.contact-form textarea {
  background-color: white;
  color: black;
  height: 10vh;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.contact-form button:hover {
  background-color: #f0f0f0;
}
