.footer {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.7)
    ),
    url("/fondo-makalu.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6em;
  height: 50vh;
}

.section-contact {
  color: white;
}

.section-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;
  }

  .section-icon {
    flex-direction: column;
    gap: 1em;
  }
}
