.navbar {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: black;
}

.logo {
  margin: 0 auto;
}
