.navbar {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  font-weight: 300;
}

.nav-links li:hover {
  border-bottom: 2px solid white;
}

.nav-links li.active {
  border-bottom: 2px solid white;
}

.logo {
  margin: 0 auto;
}
