.navbar {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-links li:hover {
  border-bottom: 2px solid white;
}

.page-selector {
  display: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar-content {
    background-color: black;
    padding: 2em;
  }

  .mobile-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }

  .page-selector {
    display: block;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .navbar-content {
    flex-direction: column;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
  }
}

@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .mobile-select {
    display: none;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
  }
}
