main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.presentation {
  padding-left: 60px;
  padding-right: 60px;
}

.vector-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: black;
  z-index: 0;
  padding: 60px;
}

.vector-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/vector.png") no-repeat center center/cover;
  z-index: 1;
  opacity: 0.6;
}

.vector-bg > * {
  position: relative;
  z-index: 2;
  background: transparent;
}
