.personal-container {
  padding: 10px;
  text-align: center;
  background-color: transparent;
}

h1 {
  color: white;
  margin: 0;
  padding: 10px;
  font-weight: normal;
}

.personal-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.personal-item {
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.personal-info {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.personal-text {
  color: white;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.personal-position {
  color: white;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.personal-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  margin-top: 2em;
  cursor: pointer;
  border-radius: 10px;
}
