.personal-container {
  padding: 10px;
  text-align: center;
  background-color: transparent;
}

.personal-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.personal-item {
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.personal-info {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.personal-text {
  color: white;
  margin: 0;
  text-align: center;
}

.personal-position {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.button-div {
  margin: 30px;
}
