.presentation-li {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.7)
    ),
    url("/fondo-makalu.avif");
  background-size: cover;
  background-position: center;
  color: white;
}

.presentation-text-li {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 900px;
  padding: 3em;
}
