.presentation {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.7)
    ),
    url("/fondo-makalu.avif");
  background-size: cover;
  background-position: center;
  height: 95vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.presentation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.presentation-text {
  width: 50%;
  font-size: 1.2em;
  animation: fadeIn 2s ease-in-out;
}

.presentation-form {
  width: 40%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .presentation-text {
    font-size: 1.1em;
  }

  .presentation-container {
    padding: 0.5em;
  }
}

@media (max-width: 768px) {
  .presentation {
    height: auto;
    padding: 2em 1em;
  }

  .presentation-container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .presentation-text,
  .presentation-form {
    width: 90%;
    text-align: center;
  }

  .presentation-text {
    margin-bottom: 1em;
  }

  .presentation-text h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .presentation-container {
    padding: 2.5em;
  }

  .presentation-form {
    width: 100%;
  }
}
