.presentation {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.7)
    ),
    url("/fondo-makalu.avif");
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  height: 90vh;
}

.presentation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  margin-top: 1em;
}

.presentation-text {
  width: 40%;
  height: 50vh;
}

.presentation-text p {
  margin-bottom: 1.5rem;
}

.presentation-text h2 {
  font-weight: 200;
  margin: 1.3rem 0;
}

.presentation-text h1 {
  font-weight: 300;
  font-size: 3.5em;
  letter-spacing: 0.2px;
}

.presentation-text h1 + h1 {
  margin-top: 0.5rem;
}

.presentation-text p {
  margin-bottom: 1.5rem;
  letter-spacing: 0.2px;
}

.presentation-form {
  align-items: center;
}
