.prices {
  text-align: center;
}

.state-buttons {
  display: flex;
  justify-content: center;
}

.state-button {
  cursor: pointer;
  border-bottom: 2px solid gray;
  color: gray;
  transition: color 0.3s, border-color 0.3s;
  padding: 0 20px;
}

.state-button.active {
  color: white;
  border-color: white;
}

.pricing-table-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5em;
}
.pricing-table {
  border: 1px solid white;
  border-radius: 8px;
  background-color: black;
  padding: 20px;
  margin: 20px 0;
  width: 30%;
}

.pricing-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.pricing-row:last-child {
  border-bottom: none;
}

.pricing-row span {
  color: #aaa;
}

.fisio-div {
  display: flex;
  padding: 5em;
  justify-content: center;
  align-items: center;
}

.nutri-div {
  display: flex;
  padding: 3em;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .pricing-table-up {
    flex-direction: column;
    padding: 2em;
  }

  .pricing-table {
    width: 90%;
    margin: 10px auto;
  }

  .state-buttons {
    flex-direction: column;
  }

  .state-button {
    padding: 10px;
    font-size: 1em;
  }

  .fisio-div,
  .nutri-div {
    padding: 2em;
    flex-direction: column;
    text-align: center;
  }

  .pricing-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .pricing-row div {
    margin: 5px 0;
  }

  .pricing-row span {
    font-size: 0.9em;
  }
}
