.prices {
  text-align: center;
}

.state-buttons {
  display: flex;
  justify-content: center;
}

.state-button {
  cursor: pointer;
  border-bottom: 2px solid gray;
  color: gray;
  transition: color 0.3s, border-color 0.3s;
  padding: 0 20px;
}

.state-button.active {
  color: white;
  border-color: white;
}

.pricing-table-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5em;
}
.pricing-table {
  border: 1px solid white;
  border-radius: 8px;
  background-color: black;
  padding: 20px;
  margin: 20px 0;
  width: 30%;
}

.pricing-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.pricing-row:last-child {
  border-bottom: none;
}

.pricing-row span {
  color: #aaa;
}

.fisio-div {
  display: flex;
  padding: 5em;
  justify-content: center;
  align-items: center;
}

.nutri-div {
  display: flex;
  padding: 3em;
  justify-content: center;
  align-items: center;
}
