.service-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  background-color: black;
}

.service-card {
  flex: 1 1 calc(30% - 20px);
  max-width: calc(30% - 20px);
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-number {
  width: 50px;
  height: 50px;
  background-color: black; /* Color del círculo */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50%; /* Hace que sea un círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px; /* Centra y añade espacio debajo */
}

.service-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.service-description {
  font-size: 0.95em;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #666;
}

.service-extra {
  font-size: 0.9em;
  font-style: italic;
  color: #555;
}

.service-price {
  font-size: 1em;
  font-weight: bold;
}
