.service-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: #000;
}

.service-card {
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-service {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.service-number {
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.service-description {
  margin: 15px 0;
}

.service-price {
  background-color: white;
  color: black;
  border: none;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* .service-price:hover {
  background-color: white;
  color: black;
} */
